body {
  overflow-x: hidden; }

.jumbotron {
  color: black;
  margin-top: 50px; }

.banner {
  background-image: url(../img/banner.jpg); }

.title {
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  font-weight: 900; }

.tipo-hoteles {
  padding-bottom: 30px;
  margin-bottom: 20px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #262626;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white; }

.footer-address-icon {
  padding-right: 10px; }

.redes a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px; }

.redes a:nth-child(1) i {
  color: #3b5998;
  font-size: x-large; }

.redes a:nth-child(2) i {
  color: #00acee;
  font-size: x-large; }

.redes a:nth-child(3) i {
  color: #8a3ab9;
  font-size: x-large; }

.card-hotel {
  margin-top: 20px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.card-header {
  text-align: center; }

.visa {
  color: black;
  text-decoration: none; }

.visa:hover {
  color: #1A1F71; }

.amex {
  color: black;
  text-decoration: none; }

.amex:hover {
  color: #002663; }

.master {
  color: black;
  text-decoration: none; }

.master:hover p {
  color: #eb001b; }

.master:hover span {
  color: #f79e1b; }

.master:hover i {
  color: black; }

.btn-contact {
  border-color: green; }

.btn-reservaModal {
  background-color: #28a745;
  border-color: #28a745; }
